<!-- bot-attack.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bot Attack</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <h1>Bot Attack</h1>
    </header>
    <section class="content-section">
        <div>
        <p>
            <h2>About</h2>
            A bot attack involves the use of automated scripts, commonly known as bots,
            to perform various malicious activities on computer systems, networks, or online services.
        </p>
        </div>
        <div>
        <p>
            <h2>Impact</h2>
            Bots can be used for activities such as data scraping, account takeover,
            distributed denial-of-service (DDoS) attacks, and spreading malware.
        </p>
        </div>
        <div>
        <p>
            <h2>Mitigation</h2>
            Organizations can defend against bot attacks by implementing
            security measures such as web application firewalls, rate limiting,
            and regular monitoring of network traffic for suspicious patterns.
        </p>
        </div>
    </section>
</body>
</html>
