<!-- brute-force.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Brute Force Attack</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <h1>Web Brute Force Attack</h1>
    </header>
    <section class="content-section">
        <div>
        <p>
            <h2>About</h2>
            A Web Brute Force Attack is a type of cyberattack where an attacker systematically
            attempts to guess a user's credentials by trying different combinations of usernames
            and passwords until the correct ones are found.
        </p>
        </div>
        <div>
        <p>
            <h2>Impact</h2>
             Successful brute force attacks can lead to unauthorized access to web applications,
            compromising user accounts and potentially exposing sensitive information.
        </p>
        </div>
        <div>
        <p>
            <h2>Mitigation</h2>
            To defend against Web Brute Force Attacks, it is essential to enforce strong
            password policies, implement account lockout mechanisms, and consider the use of multi-factor
            authentication (MFA) to enhance security.
        </p>
        </div>
    </section>
</body>
</html>
