<!-- ddos.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DDoS (Distributed Denial of Service) Attack</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <h1>DDoS (Distributed Denial of Service) Attack</h1>
    </header>
    <section class="content-section">
        <div>
        <p>
            <h2>About</h2>
            A Distributed Denial of Service (DDoS) attack is a malicious attempt to disrupt
            the normal functioning of a targeted server, service, or network by overwhelming
            it with a flood of internet traffic from multiple sources.
        </p>
        </div>
        <div>
        <p>
            <h2>Impact</h2>
            DDoS attacks can lead to service disruptions, causing websites or online
            services to become temporarily or permanently unavailable to users.
        </p>
        </div>
        <div>
        <p>
            <h2>Mitigation</h2>
            Organizations defend against DDoS attacks by using traffic filtering,
            load balancing, and content delivery networks (CDNs). Early detection and mitigation
            are crucial for minimizing the impact of DDoS attacks.
        </p>
        </div>
    </section>
</body>
</html>
