<!-- ftp-patator.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FTP-Patator Attack</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <h1>FTP-Patator Attack</h1>
    </header>
    <section class="content-section">
        <div>
        <p>
            <h2>About</h2>
            FTP-Patator is a type of brute-force attack specifically targeting FTP (File Transfer Protocol) servers.
            In this attack, an attacker systematically tries to guess usernames and passwords to gain unauthorized
            access to an FTP server.
        </p>
        </div>
        <div>
        <p>
            <h2>Impact</h2>
            Successful FTP-Patator attacks can lead to unauthorized access to sensitive files and data
            stored on the compromised FTP server.
        </p>
        </div>
        <div>
        <p>
            <h2>Mitigation</h2>
            To defend against FTP-Patator attacks, it is essential to implement strong password
            policies, use account lockout mechanisms, and regularly monitor and log FTP server activities.
        </p>
        </div>
    </section>
</body>
</html>
