<!-- port-scan.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Port Scan Attack</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <h1>Port Scan Attack</h1>
    </header>
    <section class="content-section">
        <div>
        <p>
            <h2>About</h2>
            Port scanning is a technique used by attackers to identify open ports on a target system.
            This information can be exploited to launch further attacks, gain unauthorized access,
            or gather intelligence about the target's network architecture.
        </p>
        </div>
        <div>
        <p>
            <h2>Impact</h2>
            Port scanning alone does not directly cause harm, but it is often a precursor to
            more advanced attacks. It helps attackers identify potential vulnerabilities in a system.
        </p>
        </div>
        <div>
        <p>
            <h2>Mitigation</h2>
            Organizations can defend against port scanning by implementing firewalls,
            intrusion detection systems, and regularly monitoring and logging network activities.
        </p>
        </div>
    </section>
</body>
</html>
