<!-- ssh-patator.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SSH-patator Attack</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <h1>SSH-patator Attack</h1>
    </header>
    <section class="content-section">
        <div>
        <p>
            <h2>About</h2>
            SSH-patator is a tool used for performing brute-force attacks against SSH servers.
            It systematically tries different combinations of usernames and passwords until
            it finds the correct credentials, allowing unauthorized access to the target system.
        </p>
        </div>
        <div>
        <p>
            <h2>Impact</h2>
            Successful SSH-patator attacks can lead to unauthorized access, data theft,
            and compromise the security of the target system.
        </p>
        </div>
        <div>
        <p>
            <h2>Mitigation</h2>
            To defend against SSH-patator attacks, it is crucial to use strong
            and complex passwords, implement account lockout policies, and consider the use
            of multi-factor authentication (MFA) for an additional layer of security.
        </p>
        </div>
    </section>
</body>
</html>
